[package]
name = "kyoto-cbf"
version = "0.9.0"
authors = ["Rob <rustaceanrob@protonmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A Bitcoin light-client according to the BIP-157/BIP-158 specifications"
repository = "https://github.com/rustaceanrob/kyoto"
readme = "README.md"
keywords = ["bitcoin", "cryptography", "network", "peer-to-peer"]
categories = ["cryptography::cryptocurrencies"]
rust-version = "1.63.0"

[dependencies]
bitcoin = { version = "0.32.5", default-features = false, features = [
    "rand-std",
] }
bip324 = { version = "0.7.0", default-features = false, features = [
    "tokio",
] }
tokio = { version = "1", default-features = false, features = [
    "rt-multi-thread",
    "sync",
    "time",
    "io-util",
    "net",
    "macros",
] }

# Optional dependencies
rusqlite = { version = "0.31.0", features = ["bundled"], optional = true }

[features]
default = ["rusqlite"]
rusqlite = ["dep:rusqlite"]
filter-control = []

[dev-dependencies]
corepc-node = { version = "0.6.1", default-features = false, features = [
    "28_0",
] }
hex = { version = "0.4.0" }
tracing = "0.1"
tracing-subscriber = "0.3"
tempfile = "3"
tokio = { version = "1.37", default-features = false, features = [
    "full",
] }

[lib]
name = "kyoto"
path = "src/lib.rs"

[[example]]
name = "signet"
path = "example/signet.rs"

[[example]]
name = "testnet"
path = "example/testnet4.rs"

[[example]]
name = "rescan"
path = "example/rescan.rs"

[[example]]
name = "managed"
path = "example/managed.rs"
required-features = ["filter-control"]
